body{
    margin: 0 auto;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #3D74BB;
    color: white;
}

.liste-signalements{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.liste-signalements li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    width: 100%;
}

.problemes{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    width: 90%;
}

.liste-signalements li a img{
    width: 15px;
}

.icon-hamburger{
    padding: 30px;
}