body{
    margin: 0 auto;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: blue;
}

.liste-signalements{
    list-style: none;
    text-decoration: none;
}